.blackButton {
  width: 276px;
  height: 65px;

  font-weight: 700;
  font-size: 23px;

  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #000;
}
